<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Cerebrum.AI</title>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/sign-in.css" />
        <link rel="icon" href="../img/favicon.png" type="image/x-icon">
    </head>
    <body>
        <div class="page">
            <div class="left">
                <img src="../img/sign-in-brains.jpeg" alt="MRI images" class="mri-img" />
            </div>
            <div class="right">
                <div class="nav">
                    <a id="about-link">About Us</a>
                </div>
                <div class="logo-group">
                    <img src="../img/cerebrum-logo.png" alt="Logo" class="logo" /> 
                    <p class="subtitle">A Brain Surgeons Companion</p>
                </div>
                <form class="login-form">
                    <div>
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="exampleuser@gmail.com" required />
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="example123." required />
                    </div>
                    <button type="submit">Sign In</button>
                    <a href="#" class="forgot">Forgot password?</a>
                </form>
            </div>
        </div>
        <div id="about-modal">
            <div id="about-content">
                <button class="close-btn" id="close-modal">x</button>
                <h2>About Us</h2>
                <p>We are Group 97 from Google AI and Technology Academy. Cerebrum.AI is an ARGE project for our bootcamp graduation program and should not be used based on clinical diagnosis.  </p>
                <div id = "team-container">
                        <div class = "member-card">
                            <p >Product Owner</p>
                            <a href="https://www.linkedin.com/in/nisa-vapurlu-61a868223/">
                                <img class="member-photo" src="../img/nisa-vapurlu.jpeg">
                            </a>
                            <p>Nisa<br>VAPURLU</p>
                        </div>
                    <div class = "member-card">
                        <p>Scrum Master</p>
                        <img class="member-photo" src="../img/nisa-vapurlu.jpeg">
                        <p>Alperen<br>GÜNER</p>
                    </div>
                        <div class = "member-card">
                            <p>Developer</p>
                            <a href="https://www.linkedin.com/in/nazmiyeozuygunlar/">
                                <img class="member-photo" src="../img/nazmiye-ozuygunlar.jpeg">,
                            </a>
                            <p>Nazmiye<br>ÖZUYGUNLAR</p>
                        </div>
                    <div class = "member-card">
                        <p>Developer</p>
                        <img class="member-photo" src="../img/nisa-vapurlu.jpeg">
                        <p>Muratcan<br>AYDOĞDU</p>                        
                    </div>
                    <div class = "member-card">
                        <p>Developer</p>
                        <img class="member-photo" src="../img/nisa-vapurlu.jpeg">
                        <p>Ümitcan<br>ÖZTEKER</p>
                    </div>
                </div>
            </div>
        </div>
    <script src="../js/sign-in.js"></script>
    </body>
</html>