<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Cerebrum.AI</title>
  <link rel="stylesheet" href="../styles/signin.css" />
</head>
<body>
  <div class="page">
    <div class="left">
      <img src="../img/signinbrain.jpg" alt="MRI images" class="mri-img" />
    </div>

    <div class="right">
      <div class="nav">
        <a href="#">About us</a>
      </div>
      <div class="logo-group">
        <img src="../img/cerebrum-logo.png" alt="Logo" class="logo" />
        <p class="subtitle">A Brain Surgeons Companion</p>
      </div>


      <form class="login-form">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="exampleuser@gmail.com" required />
        
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="example123." required />
        
        <button type="submit">Sign In</button>
        <a href="#" class="forgot">Forgot password?</a>
      </form>
    </div>
  </div>
</body>
</html>
